
.main {
  position:absolute;
  top:56%;
  left:50%;
  transform:translate(-50%, -50%);
}

.mainy {
  position:absolute;
  top:280%;
  left:50%;
  transform:translate(-50%, -50%);
}

.main-heading {
  margin-right:5px;
  margin-bottom:200px;
  text-align:center;
  color:#ffffff;
  text-transform:uppercase;
}

.hello {
  font-size: 70px;
  margin-bottom: 20px;


}

.main-headingy {
  margin-right:5px;
  margin-bottom:200px;
  text-align:center;
  color:#ffffff;
  text-transform:uppercase;
}
.main-heading-primary {
  color:rgb(0,0,0);
  display:block;
  font-size:5.0rem;
  font-weight:400;
  letter-spacing:35px;
  animation:moveInLeft 1s ease-out;
}

.main-heading-secondary {
  margin-top:20px;
  font-family:sans-serif;
  display:block;
  font-size:1.5rem;
  font-weight:bold;
  text-align:center;
  letter-spacing:31px;
  color:#ffffff;
  animation:moveInRight 1s ease-out;
}

.main-heading-secondaryy {
  margin-top:20px;
  font-family:sans-serif;
  display:block;
  font-size:1.5rem;
  font-weight:bold;
  text-align:center;
  letter-spacing:13px;
  color:#f6f6f6;
  animation:moveInRight 1s ease-out;
}

.main-heading-quotes {
  margin-top:30px;
  font-family:sans-serif;
  display:block;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  letter-spacing:3px;
  color:#343434;
  animation:moveInRight 1s ease-out;
}

.main-heading-quotesy {
  margin-top:30px;
  font-family:sans-serif;
  display:block;
  font-size:20px;
  font-weight:bold;
  text-align:center;
  letter-spacing:3px;
  color:#ffffff;
  animation:moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity:0;
    transform:translateX(-100px);
  }
  80% {
    transform:translateX(10px);
  }
  100% {
    opacity:1;
    transform:translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity:0;
    transform:translateX(100px);
  }
  80% {
    transform:translateX(-10px);
  }
  100% {
    opacity:1;
    transform:translate(0);
  }
}

#quotes {
  font-size:20px;
  text-align:center;
}

